* {
    box-sizing: border-box;
}

body {
    display: flex;
     justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0px;
    background-color:aqua;
}

.container {
    background-color: orchid;
    max-width: 90%;
    width: 80%; 
    padding: 19px;
}

.input {
    min-width: 90%;
    resize: none;
    outline: none;
    height: 8rem;
    padding: 10px
}

.input:focus {
    outline: black;
}